<head>
  <title><%= title %></title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>
    var socket = io();
    function sendFunction() {
      socket.emit('new message', $('#new-message').val());
      $('#new-message').val('');
    }
    socket.on('chat message', function(msg){
      $('#messages-area').append($('<li>').text(msg));
    });
  </script>
</head>
<body>
<div class="container-fluid">
  <div class="page-header">
    <h1><%= title %> <small>Welcome to <%= title %></small></h1>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul id="messages-area" class="list-group"></ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <form class="navbar-form" id="form" onsubmit="return false;">
      <div class="form-group"  style="width:83%">
        <input id="new-message" type="text" class="form-control" placeholder="Search" style="width:100%">
      </div>
      <button type="submit" class="btn ban-primary" onclick="sendFunction()" style="width:16%">Send</button>
    </form>
  </div>
</nav>
</body>
