<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <style type="text/css">
    h3 {
      margin: 3rem 0 2rem;
    }

    .form {
      border-bottom: 1px dashed #ccc;
      margin-bottom: 1rem;
      padding-bottom: 3rem;
    }

    .json-response pre {
      border: 0 none;
    }

    input[type=number] {
      width: 50px;
    }

    .input-group {
      margin-bottom: 1.5rem;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="page-header">
    <h1><%= title %></h1>
  </div>
  <div class="container-fluid">
    <h3>Location</h3>
    <div class="row">
      <div class="col-md-4">
        <form class="form" id="location-form">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">User</span>
              <input id="location-user" type="text" class="form-control" placeholder="User email or name or avatar">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Floor</span>
              <input id="location-floor"
                     type="number"
                     class="form-control"
                     placeholder="Default 7"
                     value=7>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Beacon 1</span>
              <input class="form-control new-distance"
                     data-id="futu-b1-32095-19454"
                     type="number"
                     placeholder="Distance meters">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Beacon 2</span>
              <input class="form-control new-distance"
                     data-id="futu-b2-23964-38945"
                     type="number"
                     placeholder="Distance meters">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Beacon 3</span>
              <input class="form-control new-distance"
                     data-id="futu-b3-21061-29133"
                     type="number"
                     placeholder="Distance meters">
            </div>
          </div>
          <button id="send-location" class="btn btn-default" type="submit">Send data of beacons</button>
        </form>
      </div>
      <div class="col-md-4">
        <div id="response-location" class="json-response"><h4>No location</h4><small>Make a request to view response format.</small></div>
      </div>
    </div>

    <h3>Message with image</h3>
    <div class="row">
      <div class="col-md-4">
        <form class="form" id="message-form">
          <div class="form-group">
            <div class="input-group">
              <select id="message-type">
                <option value="cake" selected="selected">cake</option>
                <option value="food">food</option>
                <option value="common">common</option>
              </select>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Title</span>
              <input id="message-title" class="form-control" type="text" placeholder="Title" value="Cake in kitchen">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Description</span>
              <input id="message-desc" class="form-control" type="text" placeholder="Optional description">
            </div>
            <div class="input-group">
              <label>Image</label>
              <input type="file" id="message-image">
              <input type="hidden" id="message-image-stream">

              <div id="message-image-preview" class="hidden">
                <img id="message-image-preview-image" src="" alt="no image" class="img-preview img-rounded">
                <br/>
                <a id="remove-message-image" href="#">Remove image</a>
              </div>
            </div>
          </div>
          <button id="send-message" class="btn btn-default" type="submit">Send a message</button>
        </form>
      </div>
      <div class="col-md-4">
        <div id="response-message" class="json-response"><h4>No message</h4><small>Make a request to view response format.</small></div>
      </div>
    </div>

    <h3>Toilet info</h3>
    <div class="row">
      <div class="col-md-4">
        <form class="form" id="toilet-message-form">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">id</span>
              <input id="toilet-id"
                     class="form-control"
                     type="number"
                     placeholder="Toilet id"
                     value=1
                     step=1>
            </div>
            <div class="input-group">
              <label>
                <input id="toilet-reserved" type="checkbox"> Reserved
              </label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Methane</span>
              <input id="toilet-methane"
                     class="form-control"
                     type="number"
                     placeholder="percent"
                     step="any">
            </div>
          </div>
          <button id="send-toilet-message" class="btn btn-default" type="submit">Send a toilet message</button>
        </form>
      </div>
      <div class="col-md-4">
        <div id="response-toilet" class="json-response"><h4>No toilet message</h4><small>Make a request to view response format.</small></div>
      </div>
    </div>

    <h3>Room info</h3>
    <div class="row">
      <div class="col-md-4">
        <form class="form" id="room-message-form">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">id</span>
              <input id="room-id" class="form-control" type="number" placeholder="Title" value="1">
            </div>
            <div class="input-group">
              <label>
                <input id="room-reserved" type="checkbox"> Reserved
              </label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Temperature (C°)</span>
              <input id="room-temperature"
                     class="form-control"
                     type="number"
                     placeholder="C°"
                     step="any">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Light (lumen)</span>
              <input id="room-light"
                     class="form-control"
                     type="number"
                     placeholder="C°"
                     step="any">
            </div>
            <div class="input-group">
              <span class="input-group-addon">CO&sup2; (%)</span>
              <input id="room-dioxide"
                     class="form-control"
                     type="number"
                     placeholder="%"
                     step="any">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Noise (dB)</span>
              <input id="room-noise"
                     class="form-control"
                     type="number"
                     placeholder="dB"
                     step="any">
            </div>
          </div>
          <button id="send-room-message" class="btn btn-default" type="submit">Send a room message</button>
        </form>
      </div>
      <div class="col-md-4">
        <div id="response-room" class="json-response"><h4>No room message</h4><small>Make a request to view response format.</small></div>
      </div>
    </div>
  </div>
</div>
<script>

  var host = window.location.protocol + '//' + window.location.host;
  var socket = io.connect(host);

  $('document').ready(function () {

    $('#send-location').on('click', function (event) {
      event.preventDefault();
      var user = $('#location-user').val();
      var floor = $('#location-floor').val();
      var $distances = $('.new-distance');
      $distances.each(function (i, el) {
        var id = $(el).data('id');
        var val = $(el).val();
        pushToSocket('beacon', {
          id: id,
          email: user,
          floor: parseInt(floor),
          distance: val === "" ? 0 : parseFloat(val)
        });
      });
    });

    var $imageInput = $("#message-image");
    var $imageStreamInput = $("#message-image-stream");

    $('#send-message').on('click', function (event) {
      event.preventDefault();
      var type = $('#message-type').val();
      var title = $('#message-title').val();
      var desc = $('#message-desc').val();
      var imageStream = $imageStreamInput.val();
      pushToSocket('message', {
        type: type,
        title: title,
        description: desc,
        file: imageStream || ""
      });
    });

    $imageInput.on('change', function (event) {
      var files = event.target.files;
      var file = files[0];

      if (files && file) {
        var reader = new FileReader();
        reader.onload = function (readerEvt) {
          var binaryString = readerEvt.target.result;
          var val = btoa(binaryString);
          $imageStreamInput.val(val);
        };
        reader.readAsBinaryString(file);
      }
    });

    $('#remove-message-image').on('click', function (event) {
      event.preventDefault();
      $imageInput.val('');
      $imageStreamInput.val("");
    });

    $('#send-toilet-message').on('click', function (event) {
      event.preventDefault();
      var toiletId = $('#toilet-id').val();
      var isToiletReserved = $('#toilet-reserved').is(':checked');
      var methane = $('#toilet-methane').val();
      pushToSocket('message', {
        id: toiletId,
        type: 'toilet',
        reserved: isToiletReserved,
        methane: formatNumberInput(methane)
      });
    });

    $('#send-room-message').on('click', function (event) {
      event.preventDefault();
      var id = $('#room-id').val();
      var isReserved = $('#room-reserved').is(':checked');
      var temperature = $('#room-temperature').val();
      var light = $('#room-light').val();
      var dioxide = $('#room-dioxide').val();
      var noise = $('#room-noise').val();
      pushToSocket('message', {
        id: id,
        type: 'room',
        reserved: isReserved,
        temperature: formatNumberInput(temperature),
        light: formatNumberInput(light),
        dioxide: formatNumberInput(dioxide),
        noise: formatNumberInput(noise)
      });
    });

    socket.on('location', renderJson($('#response-location')));

    socket.on('stream', function (messages) {
      $.each(messages, function (index, message) {
        if (message.type === 'toilet') {
          renderJson($('#response-toilet'))(message);
        } else if (message.type === 'room') {
          renderJson($('#response-room'))(message);
        } else {
          renderJson($('#response-message'))(substringFile(message));
        }
      });
    });

    function formatNumberInput(input) {
      return parseInt(input, 10);
    }

    function pushToSocket(key, value) {
      socket.emit(key, value);
    }

    function renderJson($el) {
      return function (json) {
        var $pre = $('<pre/>', {text: stringify(json)});
        $el.html($pre);
      };
    }

    function stringify(o) {
      var out = '';
      for (var p in o) {
        var val = o[p]
        var formatted = typeof val === 'string' ? `"${val}"` : val;
        out += `  ${p}:${formatted}\n`;
      }
      return `{\n${out}}`;
    }

    function substringFile(json) {
      if (json.file) {
        json.file = json.file.substr(0, 15) + '..';
      }
      return json;
    }
  });
</script>
</body>
