<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <style type="text/css">
    input[type=number] {
      width: 50px;
    }
    .input-group {
      margin-bottom: 15px;
    }
    .img-preview {
      width: 50px;
    }
    .img-rounded {
      max-width: 150px;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="page-header">
    <h1><%= title %></h1>
  </div>
    <div class="container-fluid">
      <h3>Location</h3>
      <div class="row">
        <div class="col-md-4">
          <form class="form" id="location-form">
            <div class="form-group">
             <div class="input-group">
                  <span class="input-group-addon">User</span>
                  <input id="location-user" type="text" class="form-control" placeholder="User email or name or avatar">
                </div>
              <div class="input-group">
                <span class="input-group-addon">Floor</span>
                <input id="location-floor" type="number" class="form-control" placeholder="Default 7" value="7">
              </div>
                <div class="input-group">
                  <span class="input-group-addon">Beacon 1</span>
                  <input class="form-control new-distance" data-id="futu-b1-32095-19454" type="number" placeholder="Distance meters">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">Beacon 2</span>
                  <input class="form-control new-distance" data-id="futu-b2-23964-38945" type="number" placeholder="Distance meters">
                </div>
                <div class="input-group">
                  <span class="input-group-addon">Beacon 3</span>
                  <input class="form-control new-distance" data-id="futu-b3-21061-29133" type="number" placeholder="Distance meters">
                </div>
              </div>
            <button id="send-location" class="btn btn-default" type="submit">Send beacon data</button>
          </form>
        </div>
        <div class="col-md-4">
          <div id="location">
            <h4>No location</h4>
          </div>
        </div>
      </div>

      <h3>Message with image</h3>
      <div class="row">
        <div class="col-md-4">
          <form class="form" id="message-form">
            <div class="form-group">
              <div class="input-group">
                <select id="message-type">
                  <option value="cake" selected="selected">cake</option>
                  <option value="food">food</option>
                  <option value="common">common</option>
                </select>
              </div>
              <div class="input-group">
                <span class="input-group-addon">Title</span>
                <input id="message-title" class="form-control" type="text" placeholder="Title" value="Cake in kitchen">
              </div>
              <div class="input-group">
                <span class="input-group-addon">Description</span>
                <input id="message-desc" class="form-control" type="text" placeholder="Optional description">
              </div>
              <div class="input-group">
                <label>Image</label>
                <input type="file" id="message-image">
                <input type="hidden" id="message-image-stream">
                <div id="message-image-preview" class="hidden">
                  <img id="message-image-preview-image" src=""  alt="no image" class="img-preview img-rounded">
                  <br/>
                  <a id="remove-message-image" href="#">Remove image</a>
                </div>
              </div>
            </div>
            <button id="send-message" class="btn btn-default" type="submit">Send message</button>
          </form>
        </div>
        <div class="col-md-4">
          <div id="message"><h4>No message</h4></div>
        </div>
    </div>

    <h3>Toilet info</h3>
    <div class="row">
      <div class="col-md-4">
        <form class="form" id="toilet-message-form">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">id</span>
              <input id="toilet-id" class="form-control" type="number" placeholder="Title" value="1">
            </div>
            <div class="input-group">
              <label>
                <input id="toilet-reserved" type="checkbox"> Reserved
              </label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Methane</span>
              <input id="toilet-methane" class="form-control" type="number" placeholder="percent">
            </div>
          </div>
          <button id="send-toilet-message" class="btn btn-default" type="submit">Send message</button>
        </form>
      </div>
      <div class="col-md-4">
        <div id="toilet-message"><h4>No toilet message</h4></div>
      </div>
    </div>

    <h3>Room info</h3>
    <div class="row">
      <div class="col-md-4">
        <form class="form" id="room-message-form">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">id</span>
              <input id="room-id" class="form-control" type="number" placeholder="Title" value="1">
            </div>
            <div class="input-group">
              <label>
                <input id="room-reserved" type="checkbox"> Reserved
              </label>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Temperature (C째)</span>
              <input id="room-temperature" class="form-control" type="number" placeholder="C째">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Light (lumen)</span>
              <input id="room-light" class="form-control" type="number" placeholder="C째">
            </div>
            <div class="input-group">
              <span class="input-group-addon">CO&sup2; (%)</span>
              <input id="room-dioxide" class="form-control" type="number" placeholder="%">
            </div>
            <div class="input-group">
              <span class="input-group-addon">Noise (dB)</span>
              <input id="room-noise" class="form-control" type="number" placeholder="dB">
            </div>
          </div>
          <button id="send-room-message" class="btn btn-default" type="submit">Send message</button>
        </form>
      </div>
      <div class="col-md-4">
        <div id="room-message"><h4>No room message</h4></div>
      </div>
    </div>
  </div>
</div>
<script>
  var host = window.location.protocol + '//' + window.location.host;
  var socket = io.connect(host);


  $('document').ready( function () {

    $('#send-location').on('click', function (e) {
      e.preventDefault();
      var user = $('#location-user').val();
      var floor = $('#location-floor').val();
      var $distances = $('.new-distance');
      $distances.each(function(i, el){
        var id =  $(el).data('id');
        var val =  $(el).val();
        socket.emit('beacon', {
          id: id,
          email: user,
          floor: parseInt(floor),
          distance: val === "" ? 0 : parseInt(val)
        });
      });
    });

    socket.on('location', function(msg){
      $('#location')
        .html([
          '<h4>' + msg.email + '</h4>',
          '<p>x: ' + msg.x + '</p>',
          '<p>y: ' + msg.y + '</p>'
        ].join(''));
    });

    var $imageInput = $("#message-image");
    var $imageStreamInput = $("#message-image-stream");
    var $imagePreview = $("#message-image-preview");
    var $imagePreviewImage = $("#message-image-preview-image");

    $('#send-message').on('click', function (e) {
      e.preventDefault();
      var type = $('#message-type').val();
      var title = $('#message-title').val();
      var desc = $('#message-desc').val();
      var imageStream = $imageStreamInput.val();
      socket.emit('message', {
        type: type,
        title: title,
        description: desc,
        file: imageStream || ""
      });
    });

    $imageInput.on('change', function(evt) {
      var files = evt.target.files;
      var file = files[0];

      if (files && file) {
        var reader = new FileReader();
        reader.onload = function(readerEvt) {
          var binaryString = readerEvt.target.result;
          var val = btoa(binaryString);
          $imagePreview.removeClass('hidden');
          $imageStreamInput.val(val);
          $imagePreviewImage.attr('src', 'data:image/png;base64,' + val);
        };
        reader.readAsBinaryString(file);
      }
    });

    $('#remove-message-image').on('click', function (e) {
      e.preventDefault();
      $imageInput.val('');
      $imageStreamInput.val("");
      $imagePreview.addClass('hidden');
    });

    $('#send-toilet-message').on('click', function (e) {
      e.preventDefault();
      var id = $('#toilet-id').val();
      var isReserved = $('#toilet-reserved').is(':checked');
      var methane = $('#toilet-methane').val();
      socket.emit('message', {
        id: id,
        type: 'toilet',
        reserved: isReserved,
        methane: methane
      });
    });

    $('#send-room-message').on('click', function (e) {
      e.preventDefault();
      var id = $('#room-id').val();
      var isReserved = $('#room-reserved').is(':checked');
      var temperature = $('#room-temperature').val();
      var light = $('#room-light').val();
      var dioxide = $('#room-dioxide').val();
      var noise = $('#room-noise').val();
      socket.emit('message', {
        id: id,
        type: 'room',
        reserved: isReserved,
        temperature: temperature,
        light: light,
        dioxide: dioxide,
        noise: noise
      });
    });

    socket.on('stream', function(messages) {
      $.each(messages, function(index, message){
        if (message.type === 'toilet') {
          renderToiletMessage($('#toilet-message'),message);
        } else if (message.type === 'room') {
          renderRoomMessage($('#room-message'), message);
        } else {
          renderMessage($('#message'),message);
        }
      });
    });

    function renderToiletMessage($el, message){
      var messageHtml = [
        '<h4>' + message.id + '</h4>',
        '<p>status: ' + (message.reserved ? 'taken' : 'free') + '</p>',
        '<p>methane: ' + message.methane + '%</p>'
      ].join('');
      $el.html(messageHtml);
    }

    function renderRoomMessage($el, message){
      var messageHtml = [
        '<h4>' + message.id + '</h4>',
        '<p>status: ' + (message.reserved ? 'taken' : 'free') + '</p>',
        '<p>temperature: ' + message.temperature + 'C째</p>',
        '<p>light: ' + message.light + ' lumens</p>',
        '<p>CO&sup2;: ' + message.dioxide + '%</p>',
        '<p>noise: ' + message.noise + 'db</p>'
      ].join('');
      $el.html(messageHtml);
    }

    function renderMessage($el, message){
      var imageHtml = message.file ? '<img class="img-rounded" src="data:image/png;base64,' + message.file + '" alt="image"/>' : '';
      var messageHtml = [
        '<p>message type: ' + message.type + '</p>',
        '<h4>' + message.title + '</h4>',
        '<p>' + message.description + '</p>',
        imageHtml
      ].join('');
      $el.html(messageHtml);
    }
  });
</script>
</body>
